@page
@model obligatorio.Pages.PagesSocios.AddSocioModel

<div class="text-center">
    <h1 class="display-4" style="font-size: 40px">Agregar maquina</h1>
    <form method="post">
        <div class="form-group">
            <label for="id">Id:</label>
            <input type="text" class="form-control" id="id" name="id">
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="text" class="form-control" id="tipo" name="tipo">
        </div>
        <button type="submit" class="btn btn-primary" asp-page-handler="Addmaquina">Agregar Maquina</button>
    </form>
    
</div>
