@page
@model obligatorio.Pages.PagesSocios.AddSocioModel

<div class="text-center">
    <h1 class="display-4" style="font-size: 40px">Agregar persona</h1>
    <form method="post">
        <div class="form-group">
            <label for="id">I:</label>
            <input type="text" class="form-control" id="id" name="id">
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="text" class="form-control" id="tipo" name="tipo">
        </div>
        <div class="form-group">
            <label for="telefono">Telefono:</label>
            <input type="text" class="form-control" id="telefono" name="telefono">
        </div>
        <div class="form-group">
            <label for="mail">Mail:</label>
            <input type="text" class="form-control" id="mail" name="mail">
        </div>
        <div class="form-group">
            <label for="Local">Locales:</label>
            <select class="form-control" id="local" name="local" onchange="seleccionarLocal()">
                @foreach (var Local in Model.Local)
                    {
                    <option value="@Local.Nombre">@Local.ciudad </option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary" asp-page-handler="AddSocio">Agregar Socio</button>
    </form>

</div>
<script>
    function seleccionarLocal()
    {
        var localseleccionado = document.getElementById("locales").value;

        $.ajax({
            url: "?handler=ConseguirCalculoPrecio&matricula=" + localseleccionado,
            method: "GET",
            success: function (response) {
                // Manejar la respuesta del servidor si es necesario
                document.getElementById("nombre").value = response;
                console.log(response);
            },
            error: function (xhr, status, error) {
                // Manejar errores si es necesario
                console.error("Error en la solicitud AJAX:", error);
            }
        });
    }
</script>